<%- include('../partials/header') %> 
<h1><%= title %> </h1>
<ul>
<% for (let product of products) { %> 
    <li><a href="/products/<%= product.id %>"><%= product.name %></a></li>
<% } %> 
</ul>
<% if (category !== 'all') { %> 
    <a href="/products">back to all products</a><br>
<% } %> 
<a href="/products/new">add product</a>
<%- include('../partials/footer') %>