<%- include('../partials/header') %> 
<h2><%= product.name %> </h2>
<ul>
    <li>Price: $<%= product.price %></li>
    <li>Category: <a href="/products?category=<%= product.category %>"><%= product.category %></a></li>
</ul>
<a href="/products">back to products</a>
<a href="/products/<%= product._id %>/edit">edit product</a>
<form action="/products/<%= product._id %>/delete?_method=DELETE" method="POST">
    <button type="submit">delete</button>
</form>
<%- include('../partials/footer') %> 